certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
feedparser==6.0.11
idna==3.10
joblib==1.4.2
nltk==3.9.1
numpy==2.1.1
pdfminer.six==20240706
pycparser==2.22
regex==2024.9.11
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
sgmllib3k==1.0.0
threadpoolctl==3.5.0
toml==0.10.2
tqdm==4.66.5
urllib3==2.2.3
